@font-face {
    font-family: "Cabin";
    src: local("Cabin"),
     url(~assets/Cabin/Cabin-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "OpenSans";
    src: local("OpenSans"),
     url(~assets/OpenSans/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "MinionPro";
    src: local("MinionPro"),
     url(~assets/minion-pro/MinionPro-Regular.otf) format("opentype");
}

@font-face {
    font-family: "MinionPro";
    font-weight: bold;
    src: local("MinionPro"),
     url(~assets/minion-pro/MinionPro-Bold.otf) format("opentype");
}

html {
    font-family: "Cabin";   
}

body
{
    top: 0;
    margin: 0;
    background-color: rgb(240, 240, 240);
}